img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.yan{
    display: inline-block;width: 32.3
}
.bloc{

    display: block;
    height:50px;

}
.red{
    background-color: #494533f2;
    color: white;


}
.obyekt{
    transition: height 9s;
    width: 14%;
    margin-left: 12px;
    cursor:pointer;
}
.obyekt:hover{
    /*height:70px;*/
}
.big{
    width: 100%;
}
.itemm{
    display: inline-block;
    width: 23%;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.pad{
    padding-top: 23%;
    font-weight: initial;
    font-size: 16px;
    color: #B3B3B3;
}
.one{
    width: 100%;
    height: 1000px;
    display: block;
}
.header{
    font-size: 29px;
    font-weight: 900;
    text-align: center;
    padding: 33px 0px;
}
.content{
    color: #777;
    line-height: 26px;
    padding: 0px 30px;
}